server {
    listen {VIRTUAL_PORT};
    listen [::]:{VIRTUAL_PORT};

    server_name faceandfiguresalon.localhost;

    set $ROOT /var/www/faceandfiguresalon/out;
    root $ROOT;
    index index.html;

    include /etc/nginx/global/upstreams.conf;
    include /etc/nginx/global/locations.conf;
    include /etc/nginx/global/static.conf;

    location / {
        try_files $uri $uri/ /index.html$is_args$args;
    }
}