@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color           : #222;
    background-color: #FFF;
}

h1,
h2 {
    font-family: 'Kaushan Script', Georgia, serif, cursive;
}

header nav {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#704F90+70,43315e+100 */
    /* FF3.6-15 */
    background    : -moz-linear-gradient(top, rgba(112, 79, 144, 1) 70%, rgba(67, 49, 94, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background    : -webkit-linear-gradient(top, rgba(112, 79, 144, 1) 70%, rgba(67, 49, 94, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background    : linear-gradient(to bottom, rgba(112, 79, 144, 1) 70%, rgba(67, 49, 94, 1) 100%);
    /* IE6-9 */
    filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr='#704F90', endColorstr='#43315e', GradientType=0);
}

header nav .nav-link {
    border-right: #FFF 1px solid;
}

.nav-link:last-child {
    border-right: none;
}

#hero {
    min-height: calc(625px / 2);
}

#hero * {
    z-index: 10;
}

#hero::before, #hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}

#hero::before {
    opacity: 0.5;
    background-image: url('https://github.com/portchris/faceandfiguresalon/blob/master/src/img/taunton-beauty-salon-celebrating-30-years.png?raw=true');
    background-repeat: repeat;
    background-position: bottom right;
    background-origin: content-box;
    background-size: auto 100%;
}

#hero::after {
    z-index: 1;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

#hero .badge {
    top: -15px;
}

.border-ff {
    border: solid 1px #704F90;
}

.border-ff-right {
    border-right: solid 5px #704F90;
}

.text-ff {
    color: #704F90;
}

.absolute-off {
    top: -5px;
    right: -5px;
}

.treatment-item::after {
    content: " ";
    border-right: solid 5px #704F90;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    min-width: 16.666667%;
    background-color: white;
}

.treatment-item .cta {
    z-index: 1;
}