@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color           : #222;
    background-color: #FFF;
}

h1,
h2 {
    font-family: 'Kaushan Script', Georgia, serif, cursive;
}

header nav {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#704f90+70,43315e+100 */
    /* FF3.6-15 */
    background    : -moz-linear-gradient(top, rgba(112, 79, 144, 1) 70%, rgba(67, 49, 94, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background    : -webkit-linear-gradient(top, rgba(112, 79, 144, 1) 70%, rgba(67, 49, 94, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background    : linear-gradient(to bottom, rgba(112, 79, 144, 1) 70%, rgba(67, 49, 94, 1) 100%);
    /* IE6-9 */
    filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr='#704f90', endColorstr='#43315e', GradientType=0);
}

header nav .nav-link {
    border-right: #FFF 1px solid;
}

.nav-link:last-child {
    border-right: none;
}

/* #hero {
    background-image: url();
} */